
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
} 

section { position: relative;
    width: 100%;
    height: 100vh;
    background: color 161616px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section.circulo {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: burlywood;
clip-path: circle(50% at rigth 50%);


}